/* Estilos generales */

.nameApp {
  position: absolute;
  margin: 1rem;  
}

.containerLogin {
  width: 100%;
  height: 100vh;
}

/* Estilos del encabezado */
.headerLogin {
  max-width: 50%;
  width: 100%;
}
.headerLogin h1 {
  font-size: 2rem;
  font-weight: 600;
}

.headerLogin p {
  color: #666;
  font-weight: 200;
  font-size: 0.9rem;
}

/* Estilos del formulario */
.formLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.formLogin form {
  max-width: 50%;
  width: 100%;
  display: grid;
  gap: 1rem;
}

.formLogin div {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
}

.register {
  text-decoration: none;
  color: #000;
}

.register span{
  text-decoration: underline;
  color: #623eba;
}

.formLogin div input {
  padding: 0.7rem;
  border-radius: 7px;
  border: 1px solid;
}

.formLogin div input:focus {
  outline: none;
}

.buttonLogin {
  background: #623eba;
  color: #f2f2f2;
  font-size: 0.9rem;
  border-radius: 7px;
  font-weight: 500;
  height: 2.5rem;
  border: none;
}

.buttonLogin:hover {
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background: #8554ff;
}

/* Estilos de fondo */
.backgroundUiLogin {
  background: #f2f2f2;
  display: grid;
  place-items: center;
  position: relative;
}

/* Estilos de la distribución de contenido */
.gridContent {
  display: grid;
  grid-template-columns: 55% 45%;
  height: 100%;
}

/* Estilos de círculo */
.circleLogin {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #623eba;
  animation: animation 4s infinite;
}

/* Estilos de fondo borroso */
.blurLogin {
  width: 100%;
  height: 50%;
  bottom: 0;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Media Queries para hacerlo responsive */
@media (max-width: 768px) {
  .formLogin form {
    max-width: 85%;
  }

  .gridContent {
    display: block;
  }

  .circle {
    display: none; /* Ocultar el círculo en pantallas pequeñas */
  }

  .blur {
    display: none; /* Ocultar el fondo borroso en pantallas pequeñas */
  }
}

@keyframes animation {
  0%, 100% {
    /* transform: scale(1); */
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
    /* transform: scale(1.11); */
  }
}
